.ListaImagen {
    margin: 5px 0 5px 50px;
    max-width: 80px;
    max-height: 80px;
}

.ListaNombre {  
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    font-weight: bold;
}

.ListaPrecio {  
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
}