.Login {
    width: 80%;
    padding-left: 275px;
    text-align: center;
}

.Login label {
    font-size: 20px;
}

.LoginBoton{
    margin-top: 15px;
    text-align: center;
}

.LoginBoton Button{
    font-size: 16px;
    font-weight: bold;
    width: 170px;
}